# ================================
# Operating System
# ================================

.DS_Store
Thumbs.db

# ================================
# IDEs
# ================================

.vsCode/
.idea/

# ================================
# Eviroment variables
# ================================

.env
.env.*


# ================================
# Logs
# ================================

*.logs